@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

.poppins {
  font-family: var(--font-poppins);
}

.bebasNeue{
  font-family: var(--font-bebasNeue);
}